{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
<h1>Modifier mon profil</h1>

{{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    <button class="btn btn-primary mt-2">Enregistrer</button>
{{ form_end(form) }}

<div class="btn-back mt-4">
        <a href="{{ path('profile') }}" class="btn btn-outline-secondary">← Retour au profil</a>
    </div>
{% endblock %}
